@font-face {
   font-family: 'Mitra';
   src: url('/fonts/MitraWeb-Bold.woff') format('woff');
   font-weight: bold;
   font-style: normal;
}

@font-face {
   font-family: 'IranianSerif';
   src: url('/fonts/IranianSerifWeb-Regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Source sans pro';
   src: url('/fonts/SourceSansPro-Regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
