---
---
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
      <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

      <link rel="stylesheet" href="{{ site.baseurl }}css/fonts.css">
      <link rel="stylesheet" href="{{ site.baseurl }}css/normalize.css">
      <link rel="stylesheet" href="{{ site.baseurl }}css/main.css">
      <link rel="stylesheet" href="https://fontastic.s3.amazonaws.com/KZdHZ4ghtdHoaG9Qr9QqaK/icons.css">

      <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
      <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ " /feed.xml " | prepend: site.baseurl | prepend: site.url }}" />

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <script src="{{ site.baseurl }}js/prefixfree.min.js"></script>

   <link rel="stylesheet" href="{{ site.baseurl }}css/index.css">
   <script type="text/javascript">
      // Get Browser-Specifc Prefix
      function getBrowserPrefix() {

         // Check for the unprefixed property.
         if ('hidden' in document) {
            return null;
         }

         // All the possible prefixes.
         var browserPrefixes = ['moz', 'ms', 'o', 'webkit'];

         for (var i = 0; i < browserPrefixes.length; i++) {
            var prefix = browserPrefixes[i] + 'Hidden';
            if (prefix in document) {
               return browserPrefixes[i];
            }
         }

         // The API is not supported in browser.
         return null;
      }

      // Get Browser Specific Hidden Property
      function hiddenProperty(prefix) {
         if (prefix) {
            return prefix + 'Hidden';
         } else {
            return 'hidden';
         }
      }

      // Get Browser Specific Visibility State
      function visibilityState(prefix) {
         if (prefix) {
            return prefix + 'VisibilityState';
         } else {
            return 'visibilityState';
         }
      }

      // Get Browser Specific Event
      function visibilityEvent(prefix) {
         if (prefix) {
            return prefix + 'visibilitychange';
         } else {
            return 'visibilitychange';
         }
      }
      
      // Get Browser Prefix
      var prefix = getBrowserPrefix();
      var hidden = hiddenProperty(prefix);
      var visibilityState = visibilityState(prefix);
      var visibilityEvent = visibilityEvent(prefix);

      document.addEventListener(visibilityEvent, function(event) {
         if (!document[hidden]) {
            $(".intro-photo-border").addClass("intro-photo-border-show");
            $(".intro-photo-img").addClass("intro-photo-img-show");
            $(".intro-photo").addClass("intro-photo-show");
            $(".intro-info").addClass("intro-info-show");
            $(".intro-social").addClass("intro-social-show");
            $(".intro-social-link").addClass("intro-social-link-show");
         }
      });
      
      $( document ).ready(function() {
         if (document.visibilityState == "visible") {
            $(".intro-photo-border").addClass("intro-photo-border-show");
            $(".intro-photo-img").addClass("intro-photo-img-show");
            $(".intro-photo").addClass("intro-photo-show");
            $(".intro-info").addClass("intro-info-show");
            $(".intro-social").addClass("intro-social-show");
            $(".intro-social-link").addClass("intro-social-link-show");
         }
      });
   </script>
   </head>

   <body>
      <main>
         <div class="intro">
            <div class="intro-photo">
               <img class="intro-photo-img" alt="Mehdi HoseiniPajooh" src="{{ site.avatar }}">
               <div class="intro-photo-border"></div>
            </div>
            <span class="intro-info">
                  <p class="intro-info-name">
                     مهدی حسینی‌پژوه
                  </p>
                  <p class="intro-info-job" data-icon="a">
                     طراح و توسعه دهنده وب
                  </p>
               </span>
            <div class="intro-social">
               <a class="intro-social-link intro-social-blog" href="blog" data-icon="e">وبلاگ</a>
               <a class="intro-social-link intro-social-twitter" href="https://twitter.com/{{ site.twitter }}" data-icon="b">توییتر</a>
               <a class="intro-social-link intro-social-github" href="https://github.com/{{ site.github }}" data-icon="d">گیت‌هاب</a>
               <a class="intro-social-link intro-social-email" href="mailto:{{ site.email }}" data-icon="c">ایمیل</a>
            </div>
         </div>
      </main>
   </body>

</html>
