<section class="sidebar">
   <div class="sidebar-me">
      <div class="sidebar-me-avatar">
         <img alt="Mehdi HoseiniPajooh" src="{{ site.avatar }}">
      </div>
      <div class="sidebar-me-info">
         <span class="sidebar-me-name">
            {{ site.name }}
         </span>
         <span class="sidebar-me-job" data-icon="a">
            {{ site.job }}
         </span>
      </div>
   </div>

   <div class="sidebar-social">
      <a class="sidebar-social-link sidebar-social-twitter" href="https:{{ site.twitter }}" data-icon="b">توییتر</a>
      <a class="sidebar-social-link sidebar-social-github" href="https:{{ site.github }}" data-icon="d">گیت‌هاب</a>
      <a class="sidebar-social-link sidebar-social-instagram" href="{{ site.instagram }}" data-icon="g">اینستاگرام</a>
      <a class="sidebar-social-link sidebar-social-facebook" href="{{ site.facebook }}" data-icon="f">فیسبوک</a>
      <a class="sidebar-social-link sidebar-social-email" href="mailto:{{ site.email }}" data-icon="c">ایمیل</a>
   </div>

   <a class="hire-me">
      من رو استخدام کنید.
   </a>
</section>

<section class="sidebar-hack"></section>
