---
layout: default
tags: 'لینوکس'
---
<section class="posts">
   <div class="post">
      <div class="post-header">
         <a href="{{ post.url }}" class="post-link">
            <h4>
               {{ page.toptitle }}
            </h4>
            <h3>
               {{ page.title }}
            </h3>
         </a>
         <h5 class="post-date persiaNumber" data-icon="i">
            {{ page.date | jdate: "%A %d %b %Y"}}
         </h5>
         <h5 class="post-tags" data-icon="j">
            {{ page.tags }}
         </h5>
      </div>
      <div class="post-content">
         {{ content }}
      </div>
   </div>

   {% include footer.html %}
</section>
